/Src/FM79979Engine/TextureEditor/TextureEditorWPF/obj
/Src/FM79979Engine/AndroidProject/Tegra-Android
/Src/FM79979Engine/CoreWPF/obj
/Intermedia
/Src/FM79979Engine/AndroidProject/BluffingGirl/Tegra-Android
bin
obj
/Src/lib/Release
/Src/lib/Debug
